* {
  font-family: Helvetica;
  color: black;
  text-align: center;
}

.container {
  display: grid;
  grid-template: repeat(7, 2fr) / repeat(6, 2fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

di {
    border: 2px solid black;
    margin: 20px;
    padding: 20px 20px ;
    font-face: Arial Bold;
    font-size: 40px;
}

h1 {
   color: blue;
   font-family: Times New Roman;
   font-size: 100px;
   text-align: center;
   }

#birthday {
    font-face: Arial Bold;
    font-size: 140px;
    grid-column: 3 / 5;
    grid-row: 4 / 6;

}